footer {
    width: 100%;
    height: 40vh;

    @media (max-width: 529px) {
        height: 90vh;
    }

    background-color: rgb(250, 192, 255);

    display: flex;
    flex-wrap: wrap;

    .links {
        height: 90%;
        width: 40%;

        @media (max-width: 529px) {
            height: unset;
            width: 100%;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2 {
            width: 50%;
            text-align: center;
            margin: 10px 0;
        }

        li {
            font-size: 18px;
            margin:8px 0;
            a {
                color: unset;
                span {
                    transition: .3s all;
                }
                span:hover {
                    color: rgb(176, 0, 176);
                }
            }
        }
    }

    .location {
        height: 90%;
        width: 60%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 529px) {
            height: unset;
            width: 100%;
        }
        
        a {
            width: 40%;
            @media (max-width: 529px) {
                width: 80%;
            }
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
        p {
            margin: 5px 0;
            font-size: 16px;
        }
    }
    
    .credit {
        width: 100%;
        height: 10%;
        background-color: rgb(248, 166, 255);
        @media (max-width: 529px) {
            height: unset;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        i {
            margin-left: 3px;
        }
    }
}