main {
  width: 100%;
  min-height: 50vh;
}
main em {
  cursor: pointer;
}
main .first-row {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  main .first-row {
    flex-direction: column;
    margin-top: 10vh;
    position: relative;
  }
}
main .first-row .header {
  width: 30%;
  margin-left: 15%;
}
@media (max-width: 768px) {
  main .first-row .header {
    width: 100%;
    text-align: center;
    z-index: 1;
    margin: 0;
  }
}
main .first-row .header h1 {
  color: #774785;
  font-size: 60px;
  padding: 0;
  font-family: "Dancing Script", cursive;
}
main .first-row .header h3 {
  color: #BA90C6;
  margin: 0, 10px;
}
main .first-row .images {
  width: 50%;
  height: 100%;
}
@media (max-width: 768px) {
  main .first-row .images {
    display: none;
  }
}
main .first-row .images .l-images {
  width: 100%;
  height: 100%;
  position: relative;
}
main .first-row .images .l-images img {
  width: 50%;
  border: 5px rgb(253, 186, 255) solid;
  border-radius: 7px;
  position: absolute;
}
main .first-row .images .l-images img:first-child {
  top: 55%;
  left: 20%;
  rotate: 5deg;
}
main .first-row .images .l-images img:last-child {
  top: 20%;
  left: 0;
  rotate: -15deg;
}
main .second-row {
  margin-top: 20vh;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E8A0BF;
}
main .second-row h2 {
  font-size: 28px;
}
@media (max-width: 768px) {
  main .second-row h2 {
    font-size: 22px;
  }
}
main .second-row p {
  font-size: 16px;
  text-align: center;
}
@media (max-width: 768px) {
  main .second-row p {
    font-size: 12px;
    padding: 0 5px;
  }
}
main .third-row {
  height: auto;
  width: 100%;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  main .third-row {
    height: 100vh;
  }
}
main .third-row .icon-wrapper {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vh;
}
@media (max-width: 768px) {
  main .third-row .icon-wrapper {
    margin-top: 30vh;
    flex-direction: column;
  }
}
main .third-row .icon-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .third-row .icon-wrapper div p {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}
main .third-row .icon-wrapper div img {
  max-width: 300px;
}
@media (max-width: 768px) {
  main .third-row .icon-wrapper div img {
    max-width: 100px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
main .third-row .icon-wrapper div:last-child img {
  height: 305px;
}
@media (max-width: 768px) {
  main .third-row .icon-wrapper div:last-child img {
    height: auto !important;
  }
}
main .image-container {
  margin: 20vh 0;
  width: 100%;
  height: auto;
  background: pink;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
main .image-container h2 {
  width: 100%;
  text-align: center;
}
main .image-container .img-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .image-container .img-wrapper img {
  margin: 5px;
  width: 250px;
}
@media (max-width: 768px) {
  main .image-container .img-wrapper img {
    width: 25%;
  }
}/*# sourceMappingURL=Homepage.css.map */