main {
    width: 100%;
    min-height: 50vh;

    em {
        cursor: pointer;
    }
    
    .first-row {
        width: 100%;
        height: 70vh;
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @media (max-width: 768px) {
            flex-direction: column;
            margin-top: 10vh;
            position: relative;
        }

        .header {
            width: 30%;
            margin-left: 15%;

            @media (max-width: 768px) {
                width: 100%;
                text-align: center;
                z-index: 1;
                margin: 0;
            }

            h1 {
                color: #774785;
                font-size: 60px;
                padding: 0;
                font-family: 'Dancing Script', cursive;
            }
            h3 {
                color: #BA90C6;
                margin: 0, 10px;
            }
        }

        .images {
            width: 50%;
            height: 100%;

            @media (max-width: 768px) {
                display: none;
            }

            .l-images {
                width: 100%;
                height: 100%;
                position: relative;

                img {
                    width: 50%;
                    border: 5px rgb(253, 186, 255) solid;
                    border-radius: 7px;
                    position: absolute;

                }
                img:first-child {
                    top: 55%;
                    left: 20%;
                    rotate: 5deg;
                }
                img:last-child {
                    top: 20%;
                    left: 0;
                    rotate: -15deg;
                }
            }
        }
    }



    .second-row {
        margin-top: 20vh;
        width: 100%;
        height: 20vh;
        
        display:  flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        background-color: #E8A0BF;

        h2 {
            font-size: 28px;
            @media (max-width: 768px) {
                font-size: 22px;
            }
        }
        p {
            font-size: 16px;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 12px;
                padding: 0 5px;
            }
        }
    }

    .third-row {
        height: auto;
        width: 100%;
        margin-top: 5vh;

        @media (max-width: 768px) {
            height: 100vh;
        }
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        .icon-wrapper {
            width: 100%;
            height: 40vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            margin-top: 10vh;
            @media (max-width: 768px) {
                margin-top: 30vh;
                flex-direction: column;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                p {
                    font-size: 18px;
                    text-align: center;
                    margin: 20px 0;
                }

                img {
                    max-width: 300px;
                    @media (max-width: 768px) {
                        max-width: 100px;
                        object-fit: contain;
                    }
                }
            }

            div:last-child {
                img {
                    height: 305px;
                    @media (max-width: 768px) {
                        height: auto !important;
                    }
                }
            }
        }
    }

    .image-container {
        margin: 20vh 0;
        width: 100%;
        height: auto;
        background: pink;
        padding: 10px;
        
        display: flex;
        flex-direction: column;

        h2 {
            width: 100%;
            text-align: center;
        }

        .img-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin: 5px;
                width: 250px;
                @media (max-width: 768px) {
                    width: 25%;
                }
            }
        }
    }
}