.container {
    margin: 10vh 0;
    
    .card {
        background-color: rgb(247, 216, 255);
        
        .content {
            hr {
                border: none;
                border-top: 2px rgb(231, 153, 255) solid;
                border-radius: 1px;
            }
            em {
                cursor: pointer;
            }
        }
    }

}

